<nav class="navbar navbar-default" style="margin-bottom: 4px;"> 
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a [routerLink]="['/home']" class="navbar-brand" [attr.alt]="'Home'" [attr.title]="'Home'"><i class="fa fa-home" aria-hidden="true"></i></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/user/profile']" [attr.alt]="'Profile'" [attr.title]="'Profile'">{{userEmail}}</a></li>
        <li><a (click)="logout()" class="clickable" [attr.alt]="'Logout'" [attr.title]="'Logout'">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>