<form class="loginForm center-block">
  <div class="form-group">
    <label for="login-email">Email address</label>
    <input id="login-email" type="email" class="form-control" placeholder="Email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label for="login-password">Password</label>
    <input id="login-password" type="password" class="form-control" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-default" (click)="login()" [disabled]="!canLogin()">Login</button>
  </div>
  <div *ngIf="errorMsg" class="text-center loginError">
      {{errorMsg}}
  </div>
</form>

